<div  class="container-fluid amarillo d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container">
        <div style="border-radius: 20px;" class="w-100 py-5 d-flex flex-column justify-content-center align-items-center bg-bonito">
            <p class="color-principal">
                Hola este es el perfil de <span class="pacifico white">{{persona.first_name}}</span>
            </p>
            <div class="border-radius-50">
                <img [src]="persona.avatar" style="border-radius: 63px;" alt="">
            </div>
            <p class="white fz-20 pacifico">
               Nombre: {{persona.first_name}}
            </p>
            <p class="white fz-20 pacifico">
               Apellido: {{persona.last_name}}
            </p>
            <p class="white fz-20 pacifico">
                Email: {{persona.email}}
             </p>
             <button [routerLink]="['/user/lista']" class="btn btn-white pacifico">
              Regresar
             </button>
        </div>
    </div>
</div>
